<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="row mb-3">
      <div class="col-md-6">
        <app-input 
          [uInputControl]="nameControl('name')" 
          [uType]="'text'" 
          [uLabel]="'Name'" 
          [uValidations]="validations.name">
        </app-input>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <app-input 
          [uInputControl]="nameControl('companyName')" 
          [uType]="'text'" 
          [uLabel]="'Company Name'" 
          [uValidations]="validations.companyName">
        </app-input>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <app-input 
          [uInputControl]="nameControl('email')" 
          [uType]="'email'" 
          [uLabel]="'Email ID'" 
          [uValidations]="validations.email">
        </app-input>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <app-input 
          [uInputControl]="nameControl('contactNo')" 
          [uType]="'tel'" 
          [uLabel]="'Contact No.'" 
          [uValidations]="validations.contactNumber">
        </app-input>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <app-select 
          [uSelectControl]="nameControl('designation')" 
          [uLabel]="'Designation'" 
          [uValidations]="validations.designation">
        </app-select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Add Employee</button>
      </div>
    </div>
  </div>
</form>